.sk {
    position: absolute;
    top: 40px;
    left: 185px;
    height: 32px;
    padding: 5px 0 0 15px;
    border-left: 1px solid #b1191a;
}

.sk_list li {
    float: left;
    margin: 0 30px;
    line-height: 45px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.sk_list li a:hover {
    color: #c81523;
}

.sk_con li {
    float: left;
    line-height: 45px;
    font-size: 14px;
    font-weight: 700;
    margin: 0 20px;
    font-family: 'icomoon';
}